@media only screen and (max-width: 1425px) {
  .tickets-wrapper {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media only screen and (max-width: 1360px) {
    .text-bold {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1245px) {
    .ticket-wrapper {
        width: calc(100% - 100px);
        margin: 0px 50px;
    }
}

@media only screen and (max-width: 1200px) {
  .tickets-wrapper {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 0px 75px;
  }

  .navs {
    column-gap: 15px;
  }

  .booked_flight-wrapper {
    padding: 0px 75px !important;
    column-gap: 30px;
  }

  .tickets-wrapper {
    margin-left: 75px !important;
    margin-right: 75px !important;
    width: calc(100% - 150px) !important;
  }
}

@media only screen and (max-width: 1060px) {
  .navbar {
    padding: 0px 25px;
  }

  .booked_flight-wrapper {
    padding: 0px 25px !important;
    column-gap: 15px;
  }

  .tickets-wrapper {
    margin-left: 25px !important;
    margin-right: 25px !important;
    width: calc(100% - 50px) !important;
  }

  .ticket_card-wrapper {
    flex-direction: column;
    row-gap: 15px;
  }

  .flight_picker,
  .time_picker {
    width: 100% !important;
  }

  .banner-title p {
    width: 60vw;
    color: #fff;
  }
}

@media only screen and (max-width: 930px) {
  .navbar {
    padding: 15px 15px;
    flex-direction: column;
    row-gap: 15px;
    height: auto;
  }

  .booked_flight-wrapper {
    flex-direction: column;
    height: auto !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    row-gap: 15px;
  }

  .tickets-wrapper {
    margin-left: 15px !important;
    margin-right: 15px !important;
    width: calc(100% - 30px) !important;
  }

  .ticket_sumary {
    flex-direction: column;
    height: auto !important;
    row-gap: 15px;
  }

  .flight_infor {
    column-gap: 30px;
  }

  .footer_wrapper {
    flex-direction: column;
    row-gap: 15px;
  }

  .filter_tickets {
    justify-content: center !important;
  }

  .ticket {
    min-width: calc(100% - 30px) !important;
  }
}

@media only screen and (max-width: 825px) {
  .ticket_detail {
    flex-direction: column;
    row-gap: 30px;
  }

  .filter_tickets {
    flex-direction: column;
    row-gap: 15px;
  }

  .footer_wrapper p {
    font-size: 14px;
  }

  .flight_infor {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .footer-left {
    flex-direction: column;
    row-gap: 15px;
  }

  .navs {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    margin: 15px 0px;
  }

  .navs .nav {
    height: 30px;
  }

  .navbar__brand {
    flex-direction: column;
    row-gap: 15px;
  }

  .header {
    position: static !important;
  }

  .ticket-filter {
    display: grid !important;
    grid-template-columns: auto auto;
    row-gap: 15px;
    column-gap: 15px;
  }
}

@media only screen and (max-width: 620px) {
    .datetime_input {
        font-size: 16px;
    }

    .ticket-wrapper {
        width: calc(100% - 30px);
        margin: 0px 15px;
    }

    .banner-title {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 460px) {
    .time_picker {
        flex-direction: column !important;
        row-gap: 15px;
    }
}